body{
	background: #fff;
	margin: 0 0 0 0;
}
#hora{
	position: absolute;
	color:#fff;
	left:60px;
}
#form{
	margin:0 auto;
	margin-top:15px;
	margin-bottom:15px;
	border: solid 1px #fff;
	width: 70%;
}
#form #endereco{
	padding:5px;
	width: 40%;
	height:45px;
	border: 1px solid #ccc;
	font-size:15pt;
	color: #999;
	float:left;
	box-shadow: inset 0 0 8px #ccc;
}
#form #numero{
	padding:5px;
	width: 8%;
	height:45px;
	border: 1px solid #ccc;
	font-size:15pt;
	color: #999;
	float:left;
	box-shadow: inset 0 0 8px #ccc;
	margin-left:5px;
}
#form #cidade{
	padding:5px;
	width: 20%;
	height:45px;
	border: 1px solid #ccc;
	font-size:15pt;
	color: #999;
	float:left;
	box-shadow: inset 0 0 8px #ccc;
	margin-left:5px;
}
#form > button{
	font-size:15pt;
	margin: 0 auto;
	width: 10%;
	height:45px;
	border: 1px solid #ccc;
	float:left;
	margin-left:5px;
}
#form > button:hover{
	box-shadow:1px 1px 1px 1px #ccc;
}
#fotos>img{
	margin: 3px;
	border: solid 5px #fff;
	box-shadow: 1px 1px 1px #ccc;
	float: left;
	width: 400px;
	height:230px;
}
#fotos{
	margin: auto;
	width: 99%;

}
.fb-like {
	float:right;
	border:solid 1px #fff;
	width: 20%;
	height:45px;
}
.cabecalho{
	padding:10px;
	height:30px;
	font-size:15pt;
	color: #fff;
	margin: 10px;
	background-color:#0089f0;
	box-shadow:   1px -1px 1px 1px #ccc;
	}
.cabecalho span{
	text-shadow: 1px 1px 1px #000;
	font-size:25px;
}
.explicacao{
	margin-top: 60px;
	width: 80%;
	color: #444;
	display: block;
}

